html {
  overflow: hidden;
}

pre {
  overflow-x: hidden !important;
}

a:hover {
  text-decoration: none !important;
}

.content {
  height: calc(100% - 50px);
  overflow: auto;
  display: flex;
}

.main {
  transition: margin-left 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  height: 100%;
}

.app-bar {
  transition: margin-left 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}

.expanded {
  margin-left: 260px;
}

.m-date-picker > :nth-child(1) {
  width: 100% !important;
  height: 72px !important;
}

.m-date-picker > div > div {
  font-weight: 700;
}

.m-date-picker > :nth-child(1) input {
  margin-top: 14px;
}

/* PADDINGS */
.p-20 {
  padding: 20px;
}

/* MAGINS */
.m-r-20 {
  margin-right: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.no-resize {
  resize: none;
}

.nowrap {
  white-space: nowrap;
}

/* FLEX */
.display-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.note-list {
  list-style: none;
}

.remove-note {
  font-size: 25px;
  opacity: .5;
  cursor: pointer;  
}

.editing {
  pointer-events: none;
  opacity: .5;
}

.input-error {
  color: #bf2828;
}

.input-warning {
  color: #d2d22c;
}